<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Agregar Cliente</title>
    <link rel="stylesheet" href="static/style_agregar.css">

</head>
<body>
    <div class="container">
        <h1>Agregar Cliente</h1>
        <form action="{{ url_for('agregar_cliente') }}" method="post">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" required>
            <label for="edad">Edad:</label>
            <input type="text" id="edad" name="edad" required>
            <label for="ciudad">Ciudad:</label>
            <input type="text" id="ciudad" name="ciudad" required>
                <button type="submit">Agregar Cliente</button>
        </form>
        <p><a href="{{ url_for('index') }}">Volver al inicio</a></p>
    </div>
</body>
</html>
