<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Gestión de Clientes</title>
    <link rel="stylesheet" href="static/style_index.css">
</head>
<body>
    <h1>Gestión de Clientes</h1>
    
    <!-- Enlaces a las funciones -->
    <a href="{{ url_for('agregar_cliente') }}">Agregar Cliente</a> |
    <a href="{{ url_for('consultar_cliente') }}">Consultar Cliente por Ciudad</a> |
    <a href="{{ url_for('eliminar_cliente') }}">Eliminar Cliente por Nombre</a>
    
    <h2>Lista de Clientes</h2>
    
    {% if clientes %}
        <table border="1">
            <tr>
                <th>Nombre</th>
                <th>Edad</th>
                <th>Ciudad</th>
            </tr>
            {% for cliente in clientes %}
            <tr>
                <td>{{ cliente['nombre'] }}</td>
                <td>{{ cliente['edad'] }}</td>
                <td>{{ cliente['ciudad'] }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No hay clientes registrados.</p>
    {% endif %}
</body>
</html>
